
.image-view:hover{
    -fx-cursor: hand;
}

#leftBox{
    -fx-background-color: #b9110b;
    -fx-background-radius: 4px;
}

#volumeSlider  :hover{
    -fx-cursor: hand;
}

#playSlider :hover{
    -fx-cursor: hand;
}

#rightBox{
    -fx-background-color: #858d9c;
    -fx-background-radius: 4px;
}

#volume-left-box{
    -fx-background-color: #b9110b;
    -fx-background-radius: 4px;
}

#volume-right-box{
    -fx-background-color: #858d9c;
    -fx-background-radius: 4px;
}